<div class="text-center row">
	<div class="small-centered medium-10 columns">
		<h1 class="customfont-cursive">Presentes</h1>
		<p class="customfont-serif">
			<span style="font-size:1.1rem;">Pague o quanto quiser utilizando o nosso sistema de cotas!</span><br>
			Cada item escolhido pelos noivos foi dividido em cotas que podem ser adquiridas individualmente. 
			Sua contribuição ajudará os noivos na compra desses itens. 
		</p>
	</div>
</div>
