<div id="pamela" class="parallax-window hide-for-portrait"></div>
<div id="pamela_mobile" class="parallax-window show-for-portrait"></div>
<div class="text-center">
	<h1 class="customfont-cursive">Pamela</h1>
	<p class="customfont-serif">
		Libriana, 29 anos, nascida em 03 outubro 1986<br>
		Mooquense, Juventina de coração e Palmeirense por opção!<br>
	</p>
</div>
<div id="henrique" class="parallax-window"></div>
<div class="text-center">
<div id="msg"></div>
	<h1 class="customfont-cursive">Henrique</h1>
	<p class="customfont-serif">
		Canceriano, 29 anos, nascido em 30 junho 1986<br>
		Itajubense, mineirinho!<br>
	</p>
</div>