<div>
	<h1 class="customfont-cursive text-center">Confirme a Sua Presença!</h1>
	<div class="text-center" style="margin-bottom: 40px;">
		<%=link_to "Confirmar", rsvp_path, class:"button success radius large" %>
	</div>
</div>