<% provide(:title, "Em Manutenção") %>
<h1 class="customfont-cursive text-center">Link em Manutenção</h1>
<div class="row">
<div class="small-12 medium-8 medium-centered columns text-center">
<%=image_tag('Emoticons.png', id:"emoji")%>
</div>
</div>
<div class="row">
<div class="small-12 medium-5 medium-centered columns text-center">
<h5>
	A lista de presentes estará disponível no site a partir do dia 22/02
	<br>Agradecemos a sua compreensão!
	<h4><small>Com amor<br>Henrique e Pamela!</small></h4>
</h5>
</div>
</div>
<div class="row">
<div class="small-10 medium-6 medium-centered small-centered columns text-center">
<%= link_to 'PÁGINA INICIAL', root_path, class:"expand button success extend radius"%>
</div>
</div>