<table class="row">
<tr>
<td class="wrapper last">

<table class="twelve columns">
<tr>
<td class="center panel">
<center>
        <!--conteudo do email-->

        <table class="row">
          <tr>
            <td class="wrapper last">

              <table class="twelve columns">
                <tr>
                  <td class="center ">
                    <center>

                      <h4>Olá, <%=@user.name%></h4>
                      <p>Sua mensagem:</p>
                      <p>"<%= @user.text%>"</p>
                      <p>Foi publicada na página dos noivos!</p>
                      <p>Muito obrigado, Henrique e Pamela</p>

                          
                    </center>
                  </td>
                  <td class="expander"></td>
                </tr>
              </table>

          </td>
          </tr>
        </table>
        <!-- FIM conteudo do email -->
        <!--link para home page-->
        <table class="container">
          <tr>
            <td>

              <table class="block-grid three-up">
                <tr>
                  <td>
                    <!--one-->
                  </td><td>
                    <!--two-->

                    <table class="button radius">
                      <tr>
                        <td>
                          <a href="http://www.pamehenrique.com/">Ir para o site</a>
                        </td>
                      </tr>
                    </table>

                  </td><td>
                <!--three-->
              </td>
              </tr>
            </table>

          </td>
        </tr>
      </table>
       <!--FIM link para home page-->
</center>
</td>
<td class="expander"></td>
</tr>
</table>
</td>
</tr>
</table>

