<div id="conf_sucesso" class="reveal-modal text-center" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h2 id="modalTitle" class="customfont-cursive">Uhuu!! Presença Confirmada</h2>
  <p class="lead customfont-serif">Nos vemos no grande dia!!</p>
  <p>02-ABRIL-2016</p>
  <p><i class="fi-heart" style="font-size: 50px; color:#ff2a2a"></i></p>
  <a class="close-reveal-modal customfont-serif" aria-label="Close">&#215;</a>
</div>

<div id="conf_loading" class="reveal-modal text-center" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <div class="loading">Enviando<span>.</span><span>.</span><span>.</span></div>
</div>