<% provide(:title, "Cancelar Presença") %>
<h1 class="text-center">Presença Cancelada</h1>
<div class="row">
<div class="small-10 medium-6 medium-centered small-centered columns text-center">
<%= link_to 'PÁGINA INICIAL', root_path, class:"expand button success extend radius"%>
</div>
</div>
<% content_for :javascript do %>
<%= javascript_include_tag "jquery.stickyfooter.min",'data-turbolinks-track' => false %>
<%= javascript_include_tag "adjust_page_height",'data-turbolinks-track' => false %>
<%end%>